body{
    position: relative;
    margin: 0;
    padding: 0;
    background: url('/download.png');
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
    width: 100vw;
}
img{
    max-width: 100%;
    max-height: 100%;
}


.container{
    margin: 0 auto;
    width: 80%;
}
.intro-content{
    color: silver;
    font-size: 2em;
    background: linear-gradient(to right, rgba(0,0,0,0) 0%, rgb(3, 3, 75) 50%, rgba(0,0,0,0) 100%);
    padding: 20px;
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-items: center;
}
.name{
    font-size: 1em;
    background-color: silver;
    visibility: hidden;
}
.btn-continue{
    font-size: .6em;
    font-weight: 500;
    background-color: silver;
    color: rgb(3, 3, 75);
    border-radius: 10px;
    margin-top: 50px;
    padding: 5px 20px;
    visibility: hidden;
}

.intro-screen{
    background: url('/battleship\ Assignment.png');
    position: absolute;
    top: 0  ;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* display: none; */
}

.header{
    height: 8vh;
    background: rgb(3, 3, 75);
    padding: 2em;
    text-align: center;
    color: #C0C0C0;
    text-transform: uppercase;
    font-weight: 700;
}

.status-bar{
    background: linear-gradient(to right, rgba(0,0,0,0) 0%, #C0C0C0 50%, rgba(0,0,0,0) 100%);
    text-align: center;
    padding: 1px;
    color: rgb(3, 3, 75);
}

.footer-text{
    display: block;
    padding: 40px;
    text-align: center;
    color: #C0C0C0;
}

.gameOver{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 0, 0, 0.575);
    z-index: 100000;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000000 ;
    
    display: none;
}
.gameOver p{
    font-size: 1.2em;
    font-weight: 700;
    
}

.attacked{
    background-color: rgb(143, 0, 0);
}

.cancel-icon{
    height: 10px;
    width: 10px;
    z-index: 10;
    background-color: red;
}

.dot{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: black;
}
.board-flex{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    margin-bottom: 50px;
}

.board2div,
.board1div{
    position: relative;
}

.board1div{
    display: none;
}

.shuffle-btn-div{
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 50px;
    display: none;
}

.shuffleShip{
    background: silver;
    color: #000000;
    font-size: 1.2em;
    border: none;
    padding: 5px 25px;
    border-radius: 10px;
}
.shuffleShip:hover{
    cursor: pointer;
}

.board1,
.board2{
    display: grid;
    height: 500px;
    width: 500px;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    border: 1px solid black;
    gap: 2px;
    padding: 2px;
    background-color: rgb(17, 136, 120);
    
    box-shadow: 0.25em 0 0.75em rgba(0,0,0,.25),
                0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid rgb(255, 255, 255);
    background: rgb(255, 255, 209);
    cursor: pointer;
  
    /* border-radius: 50%; */
    /* margin:7px 3.5px; */
}

.cover-vale{
    background: #d6d6d6a2;
    position: absolute;
    height: 100%;
    width: 100%;
    display: none;
    z-index: 100;
}
.board2div .cover-vale{
    /* display: block; */
}


